bitsandbytes>0.37.0
cached_path
click
ema_pytorch>=0.5.2
inflect>=7.5.0
jieba
kanjize>=1.5.0
librosa
matplotlib
phonemizer>=3.3.0
pydub
pypinyin
safetensors
soundfile>=0.13.1
sudachidict-full>=20241021
sudachipy>=0.6.10
tomli
torchdiffeq
tqdm>=4.65.0
transformers>=4.48.1
wandb
x_transformers>=1.31.14
einops