aiohttp
git+https://github.com/cozy-comfyui/cozy_comfyui@main#egg=cozy_comfyui
mss
numpy<2
opencv-contrib-python
Pillow
pyobjc-framework-Quartz; platform_system=='Darwin'
pywin32; platform_system=='Windows'
pywinctl
Xlib; platform_system=='Linux'
