accelerate
colorama
diffusers
facexlib
ftfy
imageio
imageio-ffmpeg
insightface
numpy
onnxruntime-gpu
opencv-python
sentencepiece
torch
torchvision
transformers
safetensors
tensorflow
tf-keras==2.20.1
opennsfw2==0.14.0